<!-- <div class="container-fluid"> -->
<div class="row col-md-12 cart">
    <% if (cart == null) { %>
    <div class=" row col-md-12">
        <p>Seu carrinho está vazio!</p>
    </div>
    <% } else { %>
    <div class=" row col-md-12">
        <div class="col-md-8">
            <div class="row col-md-12">
                <div class="row cart-title">MEU CARRINHO</div>
                <div class="row ">
                    <div class="table-responsive">
                        <table class="table table-borderless" style="background-color: #fff;">
                            <tbody>
                                <% cart.products.forEach(function (product) { %>
                                <tr>
                                    <td style="width: 10%;"><img src="/images/products/<%= product.images[0].name %>" width="52" height="52"></td>
                                    <td style="text-align: left; padding-top: 25px;"><%= product.title %><br>SKU: <%= product.sku %></td>
                                        <% if (product.discount > 0) { %>
                                            <!-- <td style="width: 10%; padding-top: 30px;">
                                                <strike><%= (parseFloat(product.price)).toFixed(2).replace('.', ',').split('').reverse().map((v, i) => i > 5 && (i + 6) % 3 === 0 ? `${v}.` : v).reverse().join('') %></strike>
                                            </td> -->
                                            <td style="width: 15%; padding-top: 25px;">
                                                <strike>R$ <%= (parseFloat(product.price)).toFixed(2).replace('.', ',').split('').reverse().map((v, i) => i > 5 && (i + 6) % 3 === 0 ? `${v}.` : v).reverse().join('') %></strike><br>
                                                R$ <%= (product.qty * (parseFloat(product.price) - (((parseFloat(product.price) / 100) * product.discount)))).toFixed(2).replace('.', ',').split('').reverse().map((v, i) => i > 5 && (i + 6) % 3 === 0 ? `${v}.` : v).reverse().join('') %>
                                            </td>
                                        <% } else { %>
                                            <!-- <td style="width: 10%; padding-top: 30px;">
                                                <%= (parseFloat(product.price)).toFixed(2).replace('.', ',').split('').reverse().map((v, i) => i > 5 && (i + 6) % 3 === 0 ? `${v}.` : v).reverse().join('') %>
                                            </td> -->
                                            <td style="width: 15%; padding-top: 30px;">
                                                R$ <%= (product.qty * (parseFloat(product.price))).toFixed(2).replace('.', ',').split('').reverse().map((v, i) => i > 5 && (i + 6) % 3 === 0 ? `${v}.` : v).reverse().join('') %>
                                            </td>
                                        <% } %>
                                    <td style="width: 10%; padding-top: 20px;">
                                        <form action="/cart" method="POST" name="formUpdateQtyItemCart">
                                            <input type="hidden" name="updateCartItemQtySKU" value="<%= product.sku %>">
                                            <select name="qty" class="form-control" style="width: 60px;" onchange="this.form.submit()">
                                                <option value="1" <% if( product.qty == 1) { %>selected <% } %> >1</option>
                                                <option value="2" <% if( product.qty == 2) { %>selected <% } %> >2</option>
                                                <option value="3" <% if( product.qty == 3) { %>selected <% } %> >3</option>
                                                <option value="4" <% if( product.qty == 4) { %>selected <% } %> >4</option>
                                                <option value="5" <% if( product.qty == 5) { %>selected <% } %> >5</option>
                                            </select>
                                        </form>
                                    <td style="width: 10%; padding-top: 20px; font-size: large; font-weight: bold;">
                                        <form action="/cart" method="POST" name="formRemoveItemCart">
                                            <input type="hidden" name="removeCartItemSKU" value="<%= product.sku %>">
                                            <input type="submit" name="btnRemoveProductFromCart" value="X" class="btn btn-md btn-danger">
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row col-md-12">
                <div class="row cart-title">RESUMO DO PEDIDO</div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-borderless" style="background-color: #fff;">
                            <tr>
                                <td style="width: 50%; text-align: left;">Subtotal</td>
                                <td style="width: 50%; text-align: right;">R$ <%= (parseFloat(resume.subtotal)).toFixed(2).replace('.', ',').split('').reverse().map((v, i) => i > 5 && (i + 6) % 3 === 0 ? `${v}.` : v).reverse().join('') %></td>
                            </tr>
                            <tr>
                                <td style="width: 50%; text-align: left;">Cálculo de Frete</td>
                                <td style="width: 50%; text-align: right;">
                                    <form action="/cart" method="POST" name="formFreightCalculationCart">
                                        <div class="row">
                                            <div class="float-left" style="width: 77%;">
                                                <input type="hidden" name="freightCartId" value="<%= cart._id %>">
                                                <input type="text" class="form-control" style="width: 100%;" id="postalCode" name="postalCode" placeholder="Digite o CEP" value="<%= cart.freight.postalCode %>" required>
                                            </div>
                                            <div class="float-right" style="width: 23%; padding-left: 5px;">
                                                <button type="button" class="btn btn-dark" id="btnFreightCalculation"> > </button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <% if (cart.freight.postalCode != null) { %>
                                <tr>
                                    <td colspan="2" style="text-align: right;"><%= cart.freight.deliveryTime %> dias úteis - <span style="font-weight: bold;">R$ <%= cart.freight.value %></span></td>
                                </tr>
                            <% } %>
                            <tr>
                                <td style="width: 50%; text-align: left; font-weight: bold; font-size: larger;">Total</td>
                                <td style="width: 50%; text-align: right; font-weight: bold; font-size: larger;">R$ <%= (parseFloat(resume.total)).toFixed(2).replace('.', ',').split('').reverse().map((v, i) => i > 5 && (i + 6) % 3 === 0 ? `${v}.` : v).reverse().join('') %></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: right;">
                                    <form action="/checkout" method="POST" id="formSendCheckout">
                                        <input type="hidden" id="sendCheckout" name="sendCheckout" value="<%= cart.sessionId %>">
                                        <input type="submit" id="btnSendCheckout" name="btnSendCheckout" value="COMPRAR" class="btn btn-md btn-success">
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<!-- </div> -->