<% if (!customers || customers.length == 0) { %>
    <p>Nenhum cliente cadastrado!</p>
<% } else { customers.forEach(function(customer) { %>
    <p>Nome: <%= customer.firstName %> | Sobrenome: <%= customer.lastName %> | Nascimento: <%= customer.birthDate %> | E-mail: <%= customer.email %> | Telefone: <%= customer.phoneNumber %></p>
<% })} %>