<% if (user == null) { %>
    <p>Nenhum usuário cadastrado!</p>
<% } else { %>
    <p>Olá <b><%= user.firstName + ' ' + user.lastName %>!</b></p>
    <p>Nome: <%= user.firstName %></p>
    <p>Sobrenome: <%= user.lastName %></p>
    <p>Nascimento: <%= user.birthDate %></p>
    <p>E-mail: <%= user.email %></p>
    <p>Telefone: <%= user.phoneNumber %></p>
<% } %>